node_modules
node_modules/
node_modules/*
.vscode/
artifacts/
cache/
.env
.openzeppelin
hardhat.config.js

remixd_command.txt
dummy*
Coding*Utilities.sol
Access*Control*Extension.sol

.devUtils/

deploy_testNfts.js
verify_testNfts.js